<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
    <h1>Create new phone</h1>
    <p>
        <a href="/phone">Back phone list</a>
    </p>
    <form th:action="@{/create-phone}" th:object="${phone}" method="post">
        <table>
            <tr>
                <td>Phone name</td>
                <td>
                    <input type="text" th:field="*{phoneName}">
                </td>
            </tr>
            <tr>
                <td>DateOfPurchase</td>
                <td>
                    <input type="date" th:field="*{dateOfPurchase}">
                </td>
            </tr>
            <tr>
                <td>Price:</td>
                <td>
                    <input type="text" th:field="*{price}">
                </td>
            </tr>
            <tr>
                <td>Description phone</td>
                <td>
                    <input type="text" th:field="*{description}">
                </td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>
                    <select th:field="*{category}">
                        <option th:each="cats : ${categories}" th:value="${cats.id}" th:text="${cats.categoryName}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Create"></td>
            </tr>
        </table>
    </form>
</body>
</html>