<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>!!!!</title>
</head>
<body>
    <h1>Phone list</h1>
    <p>
        <a href="/create-phone">Create new phone</a>
    </p>
    <form action="/searchByCategory" onchange="this.submit()">
        <a>Search by category</a>
        <select name="srch">
            <option value="....."></option>
            <option th:each="cats:${categories}" th:text="${cats.getCategoryName()}" th:value="${cats.getId()}" th:selected="${cats.id}==${srch}"></option>
        </select>
    </form>
    <p>
        <a href="/sortByPriceASC"><button type="submit">Sort by price ASC</button></a>
    </p>
    <p>
        <a href="/sortByPriceDESC"><button type="submit">Sort by price DESC</button></a>
    </p>
    <table border="1">
        <tr>
            <td>Phone name</td>
            <td>DateOfPurchase</td>
            <td>Price</td>
            <td>Description of phone</td>
            <td>Category name</td>
            <td>Description of category</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <th:block th:each="phone : ${phones}">
            <tr>
                <td th:text="${phone.phoneName}"></td>
                <td th:text="${phone.dateOfPurchase}" th:type="date" ></td>
                <td th:text="${phone.price}"></td>
                <td th:text="${phone.description}"></td>
                <td th:text="${phone.category.categoryName}"></td>
                <td th:text="${phone.category.description}"></td>
                <td>
                    <a th:href="@{/edit-phone/__${phone.id}__}">Edit</a>
                </td>
                <td>
                    <a th:href="@{/delete-phone/__${phone.id}__}" onclick="return confirm('mày chắc chưa')">Delete</a>
                </td>
            </tr>
        </th:block>
    </table>
    <div th:if="srch">
        <a th:href="@{'' (page=${phones.number - 1}, srch=${srch})}" th:if="${phones.hasPrevious()}">Back</a>
        <span th:text="${phones.number + 1}"></span>/<span th:text="${phones.totalPages}"></span>
        <a th:href="@{'' (page=${phones.number + 1})}" th:if="${phones.hasNext()}">Next</a>
    </div>
    <div th:if="!srch">
        <a th:href="@{'' (page=${phones.number - 1})}" th:if="${phones.hasPrevious()}">Back</a>
        <span th:text="${phones.number + 1}"></span>/<span th:text="${phones.totalPages}"></span>
        <a th:href="@{'' (page=${phones.number + 1})}" th:if="${phones.hasNext()}">Next</a>
    </div>
</body>
</html>